.df-blocks-upload-wrap {
    position: relative;
    .df-blocks-upload-button {
        cursor: pointer;
        position: absolute;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0.5em 1.5em;
        border: solid 1px white;
        border-radius: 8px;
    }
}

/*******************************************/
/*
/*  Standard Blocks
*/

.wp-block-file {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    font-size: 1em !important;
    margin-bottom: 1em;
    a:not(.wp-block-file__button) {
        color: var(--c-copy);
        text-decoration: none;
    }
    .wp-block-file__button {
        margin: 0 1em 0 0;
    }
}

.wp-block-buttons {
    margin-bottom: 1em;
}

.wp-block-image {
    &:not(:first-child) {
        margin-top: var(--m-vert-slim);
    }
    &:not(:last-child) {
        margin-bottom: var(--m-vert-slim);
    }
    figcaption {
        opacity: 0.8;
        text-align: left;
        font-size: var(--fs-small);
        line-height: 1.2;
        margin: 1em 0 0 0;
    }
}