.has-background {
    margin: var(--m-vert) 0;
    padding: 1px 0 var(--m-vert-slim) 0;

    &>.wp-block-group__inner-container>:not(.wp-block-vh-galerie):first-child {
        margin-top: var(--m-vert);
    }

    &+.has-background {
        margin-top: calc(-1 * var(--m-vert));
    }
}