.content {
    margin-top: var(--gap);
    @extend .typography;
    ._brlbs-switch-consent,
    &>.wp-block-eaw-intro,
    &>.wp-block-columns,
    &>.wp-block-buttons,
    &>.wp-block-eaw-artists.grid,
    &>.wp-block-eaw-quotes,
    &>div.wp-block-group,
    &>.wrapThis,
    &>ul,
    &>ol,
    &>blockquote,
    &>form,
    &>p,
    &>dd,
    &>h1,
    &>h2,
    &>h3,
    &>h4,
    &>h5,
    &>h6,
    &>.wp-block-group:not(.has-background),
    &>figure {
        width: auto;
        margin-left: var(--width-margin);
        margin-right: var(--width-margin);
    }
    &>.wp-block-eaw-intro {
        max-width: var(--article-width);
    }
    &>h1:first-child {
        color: var(--c-blue);
        font-size: pxtoem(42);
        max-width: 720px;
        margin-left: var(--width-margin);
        margin-top: 1em;
        font-size: clamp(42px,3em,72px);
        @media(min-width: 1680px){
            font-size: 86px
        }
    }
    &>h1.large {
        color: var(--c-blue);
        margin-top: 0;
    }
    &>p.large {
        font-size: 2em;
        max-width: var(--article-width-slim);
        text-align: center;
    }
    &>p:last-child {
        margin-bottom: var(--m-vert);
    }
    &>.wp-block-columns {
        margin-top: var(--m-vert-slim);
        gap: var(--gap);
    }
    &>ul {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    h2+ul {
        margin-top: 1em;
    }
    &>.wp-block-buttons,
    &>.wp-block-columns,
    &>.wp-block-group {
        margin-left: var(--width-margin);
        margin-right: var(--width-margin);
    }
    &>.wp-block-group {
        margin-bottom: 1em;
    }
    li {
        background: none;
        padding-left: 0;
    }
    .wp-block-group__inner-container {
        .wp-block-columns {
            margin-top: 0rem;
            margin-bottom: 0rem;
        }
    }
    .wp-block-df-block-df-abstract {
        margin-bottom: 3rem;
    }
    @import "colors.scss"
}