.content {
    &>:not(.wp-block):first-child:not(.rich-text) {
        // margin-top: var(--m-vert);
    }
    @extend .typography;
    ._brlbs-switch-consent,
    &>.wrapThis,
    &>div.wp-block-group,
    &>ul,
    &>ol,
    &>blockquote,
    &>form,
    &>p,
    &>dd,
    &>h1,
    &>h2,
    &>h3,
    &>h4,
    &>h5,
    &>h6,
    &>figure {
        max-width: var(--article-width);
        margin-left: auto;
        margin-right: auto;
        @media(min-width: 768px){
            margin-left: calc(var(--width-margin) + var(--gap-2x));
        }
        @media (max-width: 1179px) {
        }
    }
    &>ul {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    h2+ul {
        margin-top: 1em;
    }
    &>.wp-block-buttons,
    &>.wp-block-columns,
    &>.wp-block-group {
        margin-left: auto;
        margin-right: auto;
    }
    &>.wp-block-group {
        margin-bottom: 1em;
    }
    li {
        background: none;
        padding-left: 0;
    }
    .wp-block-columns {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .wp-block-group__inner-container {
        .wp-block-columns {
            margin-top: 0rem;
            margin-bottom: 0rem;
        }
    }
    .wp-block-df-block-df-abstract {
        margin-bottom: 3rem;
    }
    @import "colors.scss"
}

.wp-block-column:not(:first-child) {
    margin-top: var(--gap-2x);
    @media(min-width: 1024px){
        margin-top: 0;
        margin-left: var(--gap-2x);
    }
}