.content {
    @extend .typography;
    ._brlbs-switch-consent,
    &>.wp-block-columns,
    &>.wp-block-file,
    &>.wp-block-quote,
    &>.wp-block-buttons,
    &>.wp-block-buttons,
    &>.wrapThis,
    &>div.wp-block-group,
    &>ul,
    &>ol,
    &>blockquote,
    &>form,
    &>p,
    &>dd,
    &>h1,
    &>h2,
    &>h3,
    &>h4,
    &>h5,
    &>h6,
    &>figure {
        max-width: var(--article-width);
        margin-left: var(--width-margin);
        @media (max-width: 1179px) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    li {
        background: none;
        padding-left: 0;
    }
    @import "colors.scss"
}