@import "fonts";
@import "functions";
@import "utilities";
@import "ui";
@import "properties";
@import "variables";
@import "content";
@import "mixins";
@import "typography";
@import "blocks.scss";
@import "wordpress.scss";

strong {
    font-weight: bold;
}

.wp-block-post-title {
    @extend .h1;
    font-family: var(--ff-head);
    font-size: var(--fs-hl-large);
    font-weight: normal;
    text-transform: uppercase;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

h1.wp-block-post-title {
    font-size: 2.4em;
    padding: 0.2em 0.5em;
    color: var(--c-corporate);
    font-family: var(--ff-head);
}

.is-root-container {
    @media(min-width: 1280px) {
        --width-margin: calc(50% - var(--max-width) * 0.5);
        --width-margin-article: calc(50% - var(--max-width) * 0.5);
    }
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    @import "forms.scss";
    @extend .content;
    @extend .typography;
    .gform_wrapper {
        max-width: var(--article-width);
        margin: 0 auto;
    }
}


.editor-post-title__input,
.editor-post-title__block .editor-post-title__input {
    @extend .h1;
}

.edit-post-visual-editor,
.edit-post-visual-editor p {
    font-family: var(--ff-copy);
}


/* Width of "wide" blocks */

.wp-block[data-align="wide"] {
    max-width: var(--max-width-wide);
}


/* Width of "full-wide" blocks */

.wp-block[data-align="full"] {
    max-width: none;
}

.block-editor-block-list__block::after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px dashed red;
}

.block-editor-block-list__block:hover::after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid red;
}