body:not(.wp-admin) {

	form p {
		margin: 0;
	}

	label {
		display: inline-block;
	}

	textarea,
	input[type='email'],
	input[type='search'],
	input[type='text'] {
		font-family: var(--ff-copy);
		padding: 0.6em 1.2em 0.6em;
		background: rgba(255,255,255,0.2);
		border: solid 2px rgba(255,255,255,1);
		border-radius: var(--radius);
		margin: 0;
		width: 100%;
		font-size: 1em;
		color: white;
		&:focus {
			border-color: white;
		}
	}

	input[type='checkbox'],
	input[type='radio'],
	input[type='submit'],
	input[type='button'],
	select {
		cursor: pointer;
	}

	:placeholder {
		color: rgba(255,255,255,0.5);
	}
	
	::placeholder {
		color: rgba(255,255,255,0.5);
	}

	.gform_wrapper {

		h2 {
			color: white;
		}

		.gform_description {
			color: white;
			display: block;
			line-height: 1.4;
			margin-bottom: var(--gap-2x);
			@media(min-width: 1024px){
				width: 57%;
			}
		}

		.gform_fields {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			gap: 0.5em;
			&>* {
				grid-column: span 6;
			}

			.gfield--width-half {
				grid-column: span 3;
			}

			.gfield--width-third {
				grid-column: span 2;
			}
		}

		.ginput_container {
			margin: 0;
		}

		.gfield_label {
			margin: 0.5em 0;
		}

		.gform_fields {
			.gfield {
			}
		}

		.hidden_label {
			label {
				display: none;
			}

			input {
				margin-top: 0;
			}
		}

		.gform_validation_container {
			position: absolute;
			left: -246000px;
		}

		.gform_footer {
			margin-top: var(--gap);
		}
	}

}