header.header {

    position: relative;
    border-top: solid 1rem var(--c-corporate);
    padding-top: var(--gap);
    @media(min-width: 768px){
        padding-top: var(--m-vert-slim);
    }

    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: white;
        z-index: 3086;
        height: 150px;
        padding-top: var(--gap);
        .logo {
            height: 100px;
            width: 100px;
        }
        &+section {
            padding-top: 120px;
        }
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        &.show {
            transform: translateY(0);
        }
    }
    a {
        text-decoration: none;
        color: var(--ff-copy);
    }

    &>div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo {
        width: clamp(120px, pxtovw(124,1024), 177px);
    }

    #nav {
        display: flex;
        flex-direction: column-reverse;
        padding-top: var(--gap);
    }

    a {
        text-decoration: none;
        color: var(--c-copy);
        &:hover {
            color: var(--c-corporate);
        }
    }

    nav {
        @media(max-width: 767px){
            display: none;
        }
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        @media(min-width: 1280px){
            font-size: 22px;
        }
        &.main {
            margin-top: var(--gap);
        }
        &.secondary {
            font-size: var(--fs-copy);
            a {
                color: var(--c-corporate);
                &:hover {
                    color: var(--c-blue);
                }
            }
        }
        &>ul {
            display: flex;
            justify-content: flex-end;

            &>li {
                position: relative;
                text-transform: uppercase;
                &:not(:first-child) {
                    margin-left: var(--gap-2x);
                }
                &>ul {
                    position: absolute;
                    left: 0;
                    top: 1em;
                    display: none;
                }

                &:hover {
                    a {
                        color: var(--c-corporate);
                    }
                    &>ul {
                        display: block;
                    }
                }
            }
        }
    }

    #mobile_menu {
        @media(min-width: 768px){
            display: none;
        }
        position: fixed;
        background-color: white;
        z-index: 2086;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: var(--gap-3x);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4em;
        transform: translateY(-100%);
        transition: transform 800ms;
        &.open {
            transition: transform 800ms;
            transform: translateY(0);
        }
        &>div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            a {
                text-decoration: none;
                color: var(--c-copy);
            }
            &>div>ul,
            &>ul {
                &>li {
                    margin: 1em 0;
                    &.kontakt,
                    &.contact {
                        font-weight: bold;
                    }
                    &>a {
                        text-transform: uppercase;
                    }
                }
            }
            .footer {
                font-size: 0.73em;
                a {
                    text-transform: none;
                }
            }
        }
    }

    #trigger {
        @media(min-width: 768px){
            display: none;
        }
        cursor: pointer;
        position: fixed;
        right: var(--gap);
        top: calc(1em + var(--gap));
        z-index: 2089;
        width: 46px;
        height: 36px;
        background: white;
        border: solid 3px white;
        border-width: 3px 8px;
        &>span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--c-corporate);
            position: absolute;
            left: 0;
            &.ff1 {
                top: 5px;
            }
            &.ff2 {
                top: 50%;
                transform: translateY(-1px);
            }
            &.ff3 {
                bottom: 5px;
            }
        }
        &.open {
            &>span {
                &.ff1 {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
                &.ff2 {
                    opacity: 0;
                }
                &.ff3 {
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
    }

}