html {
    zoom: 100%;
    * {
        box-sizing: border-box;
    }
    box-sizing: border-box;
}



*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--ff-copy);
    font-size: var(--fs-copy);
    -webkit-font-smoothing: antialiased;
    color: var(--c-copy);
}

.wrap {
    width: var(--max-width);
    margin: 0 auto;
    position: relative;
}

#wrapall {
    margin: 0 auto;
}

.capsule {
    width: var(--max-width);
    margin: 0 auto;
    position: relative;
}

section#content {}