.ty,
.typography {
    b,
    strong {
        font-weight: bold;
    }
    i,
    em {
        font-style: italic;
    }
    blockquote,
    pre {
        padding: 1rem 0;
    }
    .wp-block-quote,
    blockquote {
        padding: 0;
        font-size: var(--fs-large);
        margin: var(--gap-2x) 0;
        border: none;
        p:last-child {
            margin-bottom: 0;
        }
    }
    .wp-block-pullquote {
        @media(min-width: 1280px){
            transform: translateX(-4em);
            width: 86%;
        }
        padding: var(--gap-2x);
        background: var(--c-copy);
        color: white;
        border: none;
        text-align: left;
        font-size: 1em;
        blockquote {
            font-size: 1em;
            margin: 0;
        }
    }
    pre {
        font-family: var(--ff-fixed);
        line-height: 1.5;
        background: black;
        color: white;
    }
    .p {
        font-size: 1em;
    }

    .p,
    dd,
    dt,
    ul,
    ol,
    p {
        margin-bottom: 1em;
        line-height: 1.7;
    }
    .small {
        font-size: 0.75em;
    }
    .is-style-abstract,
    .abstract {
        font-size: var(--fs-large);
    }
    p:last-child {
        margin-bottom: 0;
    }
    ul {
        &:not(:first-child) {
            margin-top: var(--gap-2x);   
        }
        &:not(:last-child) {
            margin-bottom: var(--gap-2x);
        }
        li:not([class]),
        li.wp-block-list-item {
            &:not(:first-child) {
                margin-top: 1em;   
            }
            padding: 0 0 0 1.2em;
            margin-left: 0;
            background: url("../images/Bullet.svg") no-repeat 0 0.4em;
        }
        ul {
            margin-left: 1em;
        }
    }
    ul li {
        list-style-type: none;
    }
    ol li {
        list-style-type: decimal;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    ul,
    ol {
        margin: 1em 0;
        line-height: 1.4;
    }
    caption,
    .h1,
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 1em;
        margin-bottom: 1em;
        line-height: 1.2;
        font-family: var(--ff-head);
        font-weight: 900;
        a {
            text-decoration: none;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    .is-style-h1,
    .h1 {
        font-family: var(--ff-head);
        font-size: var(--fs-hl-large);
    }
    h1 {
        @extend .h1;
    }
    .is-style-h2,
    .h2,
    h2 {
        font-size: var(--fs-hl-medium);
    }
    caption,
    .is-style-h3,
    .h3,
    h3 {
        font-size: var(--fs-hl-small);
    }
    .h4,
    .h5,
    h4,
    h5 {
        font-size: 1.2em;
    }
    h1+*,
    h2+*,
    h3+*,
    .coltop+h1,
    .coltop+h2,
    .coltop+h3,
    .coltop+h4,
    .coltop+h5,
    a[name="copytop"]+h1,
    a[name="copytop"]+h2,
    a[name="copytop"]+h3,
    a[name="copytop"]+h4,
    a[name="copytop"]+h5 {
        margin-top: 0;
    }
    a:not([class]) {
        color: var(--c-rot);
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .wp-caption p {
        font-size: 0.8em;
        margin: 0.5em 0 1em 0;
    }
}