.ty,
.typography {
    b,
    strong {
        font-weight: bold;
    }
    i,
    em {
        font-style: italic;
    }
    blockquote,
    pre {
        padding: 1rem 0;
    }
    .wp-block-quote,
    blockquote {
        padding: var(--m-vert-slim) 0 var(--m-vert-slim) 4rem;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 720px;
        border: none;
        background: url("../images/Quote.svg") no-repeat 0 calc(0.72rem + var(--m-vert-slim));
        p:not(:last-child) {
            margin-top: 0;
            margin-bottom: var(--gap);
            color: var(--c-corporate);
        }
        cite {
            margin-bottom: 0;
            font-size: 1rem;
            opacity: 0.5;
        }
    }
    pre {
        font-family: var(--ff-fixed);
        line-height: 1.5;
        background: black;
        color: white;
    }
    dd,
    dt,
    ul,
    ol,
    p {
        margin: 0 0 1em 0;
        line-height: 1.6;
        padding: 0;
    }
    .small {
        font-size: 0.75em;
    }
    .abstract {
        @media (min-width: 560px) {
            font-size: var(--fs-large);
        }
        font-weight: bold;
    }
    p:last-child {
        margin-bottom: 0;
    }
    ul {
        li.wp-block-list-item,
        li:not([class]) {
            margin-top: 1em;
            &:first-child {
                margin-top: 0;
            }
            padding-left: 20px;
            margin-left: 0;
            background: url("../images/Bullet.svg") no-repeat 0 4px;
        }
        ul {
            margin-left: 1em;
        }
    }
    ul li {
        list-style-type: none;
    }
    ol li {
        list-style-type: decimal;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    ul,
    ol {
        margin: 1em 0;
        line-height: 1.4;
    }
    caption,
    .h1,
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 1em;
        margin-bottom: 1em;
        line-height: 130%;
        @media(min-width: 768px){
            line-height: 140%;
        }
        font-family: var(--ff-head);
        font-weight: bold;
        color: var(--c-corporate);
        a {
            text-decoration: none;
            color: var(--c-copy);
            &:hover {
                color: black;
            }
        }
        &:first-child {
            margin-top: 0;
        }
        em {
            font-style: normal;
            background: linear-gradient( 0.3deg, transparent 10% ,var(--marker-1) 10%,var(--marker-1) 72%,transparent 72%, transparent 86%),linear-gradient( transparent 24% ,var(--marker-2) 24%,var(--marker-2) 80%,transparent 80%, transparent 96%);
        }
    }
    .h1 {
        font-family: var(--ff-head);
        font-size: pxtoem(27);
        @media(min-width: 1024px){
            font-size: pxtoem(40);
        }
    }
    h1 {
        @extend .h1;
    }
    .h2,
    h2 {
        font-size: pxtoem(24);
        hyphens: auto;
        @media(min-width: 1024px){
            font-size: pxtoem(32);
        }
    }
    caption,
    h3 {
        font-size: 1.3em;
        @media (min-width: 560px) {
            font-size: 1.5em;
        }
    }
    h4,
    h5 {
        font-size: 1.2em;
    }
    h1+*,
    h2+*,
    h3+*,
    .coltop+h1,
    .coltop+h2,
    .coltop+h3,
    .coltop+h4,
    .coltop+h5,
    a[name="copytop"]+h1,
    a[name="copytop"]+h2,
    a[name="copytop"]+h3,
    a[name="copytop"]+h4,
    a[name="copytop"]+h5 {
        margin-top: 0;
    }
    a {
        color: var(--c-corporate);
        &:hover {
            color: var(--c-head);
            &:active {
                color: var(--c-corporate);
            }
        }
    }
    .wp-caption p {
        font-size: 0.8em;
        margin: 0.5em 0 1em 0;
    }
}