.post,
.page {
    a.button,
    .button {
        display: inline-block;
        padding: 0.44em 1.5em 0.34em;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        border-radius: var(--radius);
        font-size: pxtoem(16);
        color: var(--c-copy);
        border: solid 2px var(--c-light);
        &:hover {
            background: rgba(41, 181, 228, .1);
        }
        &.gform_button,
        &.white {
            background: transparent;
            color: white;
            border: solid 2px white;
            &:hover {
                background: rgba(255,255,255,0.24);
            }
        }
    }
}	