.error404,
.search,
.block-editor-block-list__block,
.home,
.post,
.page {
    a.button,
    .button {
        display: inline-flex;
        align-items: center;
        font-family: var(--ff-head);
        font-size: 1em;
        padding: 0.6em 1em;
        background: var(--c-corporate);
        color: white;
        text-decoration: none;
        border: none;
        svg {
            margin-right: 0.5em;
        }
    }
}	

.upload {
    position: relative;
    button {
        position: absolute;
        top: 2em;
        right: 2em;
        background: rgba(0,0,0,0.5);
        color: white;
        padding: 0.5em 1em;
        border: solid 1px white;
        border-radius: 0.24em;
        cursor: pointer;
        &:hover {
            background: var(--c-copy);
        }
    }
}