.post,
.page {
    a.button,
    .button {
        display: inline-block;
        padding: 0.5em 1.5em;
        background: var(--c-corporate);
        color: white;
        text-decoration: none;
        border-radius: 200px;
        &:hover {
            background: var(--c-blue);
            color: white;
        }
    }
}	

.swiper-nav {
    display: flex;
    justify-content: center;
    &>div.swiper-button {
        margin: var(--gap-2x) var(--gap);
        cursor: pointer;
        img {
            width: 1.5em;
        }
        img.swiper-button-disabled {
            opacity: 0.24;
            cursor: default;
        }
    }
    &>div.swiper-pagination {
        margin: var(--gap-2x) var(--gap);
        display: flex;
        align-self: center;
        &>span.swiper-pagination-bullet {
            display: block;
            width: 0.73em;
            height: 0.73em;
            background: var(--c-corporate);
            opacity: 0.24;
            border-radius: 100%;
            &:not(:last-child) {
                margin-right: 0.5em;
            }
            &.swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
}