.wp-block-eaw-quotes {
    overflow: hidden;
    .swiper-wrapper {
        align-items: stretch;
        .swiper-slide {
            height: auto;
            align-self: stretch;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    .quote {
        text-align: center;
        @media(min-width: 1024px){
            font-size: 1.4em;
        }
        max-width: 720px;
        &__author {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: var(--c-corporate);
            svg {
                width: 1.2em;
                margin-right: var(--gap);
            }
        }
        i,
        em {
        font-style: normal !important;

        }
    }
}